page-history {
  .card {
    padding: 0px;
    width: 100%;
    .text {
      h2 {
        font-size: 16px;
        color: #10142E;
        display: table-cell;
        height: 80px;
        vertical-align: middle;
      }
    }
  }

  .routes {
    padding: 20px;
    .from {
      h2 {
        color: #3E51CA;
      }
    }
  }

  .buttons {
    .button {
      width: 100%;
      height: 50px;
      border-radius: 0;
      margin: 0;
      box-shadow: none;
    }
  }

  .item {
    &.activated {
      box-shadow: 0 5px 30px rgba(176,182,218,0.8);
      .text {
        h2 {
          color: #fff;
        }
      }
    }
  }
}
